<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CronServiceConfiguration" type="CronPluginService.Framework.Configuration.CronServiceConfiguration, CronPluginService.Framework" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <connectionStrings>
    <add name="Reporting" connectionString="Server=s1datasource;Database=SettlementOneMortgage;uid=s1datauser;Password=$lackMonk3y;Trusted_Connection=False" />
  </connectionStrings>

  <log4net debug="false">
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="Application" />
      <param name="ApplicationName" value="Cron Plugin Service" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>

  <CronServiceConfiguration>

    <Jobs>
		<add name="DailyActivityReport"
			 expression="0 20 17 * * ?"
			 type="DailyProcessingJobs.GenerateManagementReportJob, DailyProcessingJobs">
			<JobParameters>
				<add name="ReportPath"
					 value="c:\reports2"
					 datatype="System.String"/>
				<add name="ReportName"
					 value="ActivityReport"
					 datatype="System.String"/>
				<add name="Worksheet"
					 value="DailyActivity"
					 datatype="System.String"/>
				<add name="Recipients"
					 value="smccain@settlementone.com"
					 datatype="System.String"/>
			</JobParameters>
		</add>
    </Jobs>
    
    <PluginConfiguration>
      <add name="MyPlugins" path="plugins" />
    </PluginConfiguration>
    
  </CronServiceConfiguration>

  <system.net>
    <mailSettings>
      <smtp from="smccain@settlementone.com">
        <network
          host="S1SMTPHOST"
          password="sm0x8#ZB"
          port="25"
          userName="support@support.lendsecure.com"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>