<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CronServiceConfiguration" type="CronPluginService.Framework.Configuration.CronServiceConfiguration, CronPluginService.Framework" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net debug="false">
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="Application" />
      <param name="ApplicationName" value="Cron Plugin Service" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>

	<CronServiceConfiguration>
		<add name="DailyActivityReport" expression="0 50 8 ? * *" type="CronPluginService.ScheduledJob.GenerateManagementReportJob, CronPluginService"/>
		<add name="TestPlugin" expression="0 0/1 * * * ?" type="ServicePlugins.TestPlugin, ServicePlugins" />
		<PluginInfo>
			<add name="MyPlugins" path="plugins" />
		</PluginInfo>
	</CronServiceConfiguration>
	
  <connectionStrings />
  

</configuration>